* {
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    width: 100%;
}

html {
    background-repeat:repeat-y;
    background-size: auto;
    background-image:repeating-radial-gradient(rgb(137, 137, 139), rgb(212, 209, 209));
}

header, section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

h1 {
    font-family: 'Warnes', cursive;
    font-size: 1em;
}

.error {
    margin: 0 auto;
    display: none;
}

#reset {
    margin:auto;
    text-transform:uppercase;
    width: 27vw;
    padding: 15px 5px;
}

h2 {
    font-size: 1.25rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align:center;
    width: 27vw;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

thead {
    font-size: 0.5em;
    font-weight: 700;
    font-family: 'Press Start 2P', cursive;
}

thead>tr>td {
    padding: 5px;
}

td {
    border: 1px solid darkgray;
}

.hidden {
    display: none;
}

.unhide {
    display:block;
    margin: auto;
    /* flex-direction: column;
    justify-content:center;
    align-content:center; */
}

@media screen and (min-width: 769px) {
    h1 {
        font-size: 3rem;
    }

    thead {
        font-size: 1rem;
    }

    thead>tr>td {
        padding: 15px;
    }
}